@model SEDC.PizzaApp.Models.Domain.Pizza

<h2>Pizza Details:</h2>

<p>@ViewBag.PizzaViewModel.Id</p>
<p>@ViewBag.PizzaViewModel.Name</p>
<p>@ViewBag.PizzaViewModel.Price</p>
<p>@ViewBag.PizzaViewModel.PizzaSize</p>
